*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #282828;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.H{
  background: url(../assests/headbk.jpg);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
}

h1{
  padding-top: 50px;
  font-size: 50px;
  width: 100px;
}

.pflex{
  display: flex;
  width: 300px;
  border: 1px solid #f00;
}

.navigation{
  width: 100%;
  background-color: #000000;
}

.navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex{
  display: flex;
  padding: 8px;
  align-self: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex div{
  padding: 8px;
}

.flex a{
  padding: 12px 10px;
  text-decoration: none;
  color: #ffffff;
}

h3{
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}



.padding{
  padding-left: 20px;
  padding-top: 550px;
}

.pad{
  padding-left: 20px;
}

.pad p{
  padding-left: 14px;
}

.btns{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;
}

.btn{
  padding: 10px;
  width: 150px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  border-radius: 3px;
}

.btn:hover{
  background-color: #000000;
  color: #ffffff;
  border: #E50914;
  transition: ease-in-out 2s;
}

.btn2{
  border:1px solid #ffffff;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: grey;
  color: #ffffff;
  opacity: 0.48;
  border-radius: 2px;
}


.grid-container{
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  padding: 0px 12px;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.griditems{
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding-left: 6px;
  background: var(--surface-2);
  border-radius: var(--radius-2);
}

.griditems img{
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snap-scroll{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snap-scroll > *{
  scroll-snap-align: start;
}

.flex-container{
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  padding: 0px 12px;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.flexitems{
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding-left: 6px;
  background: var(--surface-2);
  border-radius: var(--radius-2);
}

.flexitems img{
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snap-scroll{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}


.snap-scroll > *{
  scroll-snap-align: start;
}
.ground-container{
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.grounditems{
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding-left: 6px;
  background: var(--surface-2);
  border-radius: var(--radius-2);
}

.grounditems img{
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snap-scroll{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snap-scroll > *{
  scroll-snap-align: start;
}
.ground-container2{
  --_spacer: var(--size-3);
  display: grid;
  gap: var(--_spacer);
  padding: 0px 12px;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.groundh3{
  padding-top: 30px;
}
.grounditems2{
  display: grid;
  grid-template-rows: min-content;
  gap: var(--_spacer);
  padding-left: 6px;
  background: var(--surface-2);
  border-radius: var(--radius-2);
}

.grounditems2 img{
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.snap-scroll{
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snap-scroll > *{
  scroll-snap-align: start;
}

.footer-logos{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.footer-container{
  margin-top: 10px 0PX;
  background-color: #000000;
  color: grey;
  padding: 40px 50px;
  opacity: 0.9;
}

.flex-items ul{
  list-style: none;
}

.flex-items ul li{
  padding-bottom: 12px;
}

.footer-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0px;
}

.flex-items a{
  text-decoration: none;
  color: grey;
}
.flex-items a:hover{
  color: #E50914;
}

#language{
  margin-top: 20px;
  padding: 8px;
  background-color: transparent;
  color: #ffffff;
}

.footp{
  padding-top: 25px;
}